.header {
  border-top: 1px dotted lightblue;
  padding-top: 15px;
}

.post-wrap {
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
}

.item-content {
  width: 100%;
  border-top: 1px dotted lightblue;
  padding-top: 15px;
}

@media (min-width: 0px) {
  .post-item {
    flex-basis: 100%;
    max-width: 100%;
    flex-shrink: 0;
  }
}

@media (min-width: 1366px) {
  .post-item {
    flex-basis: 50%;
    max-width: 50%;
  }
}

.item-content .name {
  color: #3199e8;
  font-size: large;
}

.item-content .attribute {
  color: darkorange;
  font-size: large;
}

.item-content .type {
  font-size: small;
  color: inherit;
  padding-left: 10px;
}

.item-content .required {
  color: red;
  font-size: small ;
  padding-left: 10px;
}

.item-content .description {
  color: inherit;
  font-size: 15px;
}

.t1 td {
  border-left-width: 0px;
  border-top-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;  
}

.t1 tr {
  border: 0px;
}

.t1 td {
  padding: 0px;
}

.t2 {
  margin-bottom: 0px;
}

.t2 td {
  border-left-width: 2px;
  border-top-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}

.t2 tr {
  border: 0px;
}

.t2 td {
  padding-left: 15px;
}

.t1 tbody tr {
  background-color: inherit;
}

.green-text {
  color: green;
}

.red-text {
  color: red;
}
